body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
